doctype html
html(lang='en')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='../stylesheets/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')
	body
		.container
			.jumbotron
				h1 TODO APP
				hr
				p TODO App helps you organize your tasks and activities so as to help you accomplish more with your limited time, you are able to add task, record start and completion time...
				p Login or register to continue
				a.btn.btn-primary.btn-btn-large.login-btn(href='#')
					span.glyphicon.glyphicon-log-in
					| Login
				a.btn.btn-primary.btn-btn-large.signup-btn(href='#')
					span.glyphicon.glyphicon-edit
					| Sign up
				hr