<!DOCTYPE html>
<html>

<head>
    <% include partial/head %>
        <title>
            <%= title %>
        </title>
</head>

<body>

        <% include partial/report-page-nav %>

        <% include partial/project-details-page-body %>


</body>

</html>
