<!DOCTYPE html>
<html>

<head>
    <% include partial/head %>
        <title>
            <%= title %>
        </title>
</head>

<body>

    <% include partial/register-page-body %>

</body>

</html>
