body { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
	margin-top: 70px;
	font-family: "Times New Roman";
}
.oswald{
	font-family: 'Oswald', sans-serif;
}

.jumbotron h1{
	font-family: 'Oswald', sans-serif;
	font-size: : 70px;
}

.jumbotron p{
	font-size: 22px;
	letter-spacing: 0.1em;
	padding: 10px;
}

.login-btn, .signup-btn{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding: 10px;
	width: 150px;
	margin-right:8px;
}

span {
	margin-right: 10px;
}

body {
  margin-top: 10px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
