  <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo"> &nbsp; TODO APP</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">REPORTS</a></li>
                <li><a href="#">LOGOUT</a></li>
            </ul>
        </div>
    </nav>