<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center top-text">TODO APP</h1>
        <div class="row center app-description">
            <h5 class="header col s12 light flow-text description-text">Manage your tasks in an organized fashion so you can do more in little time </h5>
            <h5 class="header col s12 light flow-text description-text">Sign in or register an account </h5>
        </div>
        <div class="center">
            <a href="/login" id="signin-button" class="waves-effect waves-light btn btn-large signin-btn">
                <span> Sign in </span> </a>
            <a href="/register" id="signup-button" class="waves-effect waves-light btn btn-large signup-btn">
                <span> Register </span> </a>
        </div>
        <br><br>

    </div>
</div>