<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center top-text">TODO APP</h1>
        <div class="row center">
            <h5 class="header col s12 light flow-text description-text">Manage your tasks in an organized fashion so you can do more in little time </h5>
            <h5 class="header col s12 light flow-text description-text">Sign in or register an account </h5>
        </div>
        <div class="row center">
            <a href="/login" id="signin-button" class="btn-large waves-effect waves-light signin-btn">Sign in</a>
            <a href="/register" id="signup-button" class="btn-large waves-effect waves-light signup-btn">Register</a>
        </div>
        <br><br>

    </div>
</div>