        <!-- New Task Modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h5>ADD NEW </h5>
                <div class="input-field col">
                    <input value="" id="task_title" type="text" class="validate">
                    <label class="active" for="task_title">Title</label>
                </div>

                <div class="input-field col">
                    <input value="" id="task_description" type="text" class="validate">
                    <label class="active" for="task_title">Description</label>
                </div>


                <div id="subtask1" class="input-field col hide">
                    <input value="" id="subtask_1" type="text" class="validate">
                    <label class="active" for="subtask_1">First Subtask</label>
                </div>

                <div id="subtask2" class="input-field col hide">
                    <input value="" id="subtask_2" type="text" class="validate">
                    <label class="active" for="subtask_2">Second Subtask</label>
                </div>

                <div id="subtask3" class="input-field col hide">
                    <input value="" id="subtask_3" type="text" class="validate">
                    <label class="active" for="subtask_3">Third Subtask</label>
                </div>

                <div id="subtask4" class="input-field col hide">
                    <input value="" id="subtask_4" type="text" class="validate">
                    <label class="active" for="subtask_4">Fourth Subtask</label>
                </div>

                <div id="subtask5" class="input-field col hide">
                    <input value="" id="subtask_5" type="text" class="validate">
                    <label class="active" for="subtask_5">Fifth Subtask</label>
                </div>


                <div class="col">
                    <a class="btn btn-floating teal waves-effect waves-green" onclick="showOne()"> + </a>
                    <a class="btn btn-floating teal waves-effect waves-green" onclick="removeOne()"> - </a>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="btn teal modal-action modal-close waves-effect waves-green">Submit</a>
            </div>
        </div>