        <!-- New Task Modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h5>NEW PROJECT </h5>

                <form action="projects" method="POST">
                <div class="input-field col">
                    <input name="title" id="project_title" type="text" class="validate">
                    <label class="active" for="project_title">Project Title</label>
                </div>

                <div class="input-field col">
                    <input name="description" value="" id="project_description" type="text" class="validate">
                    <label class="active" for="project_description">Description</label>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-large teal modal-action modal-close waves-effect waves-green"><i class="material-icons left">create</i>Create</button>
            </div>
        </div>