<script>

</script>


<div class="section no-pad-bot" id="index-banner">
    <div class="container-fluid">
<div class="row">
<div class="col">
<a class="waves-effect waves-light btn btn-large modal-trigger" href="#modal1"><i class="material-icons right">note_add</i>NEW PROJECT</a>
</div>
</div>


            <% include new-project-modal %>

            <% include project-list %>


             

    <div class="container center">
        <div class="row">
                <span> <%= email %> </span>        
        </div>
    </div>