<div class="section no-pad-bot" id="index-banner">

    <div class="container">

        <a href="/">
            <h3 class="header teal-text arial center">TODO APP</h3>
        </a>

        <div class="row">

            <div class="col s3">
            </div>

            <div class="col s6">

                <div class="card ">


                    <div class="card-action teal ">
                        <h6 class="center white-text">CREATE A NEW ACCOUNT</h6>
                    </div>



                    <div class="card-content ">

                        <form action="register" method="POST">

                            <div class="input-field ">
                                <i class="material-icons prefix">mail</i>
                                <input name="email" id="email" type="email" class="validate">
                                <label for="email">Email Address</label>
                            </div>

                            <div class="input-field ">
                                <i class="material-icons prefix">lock</i>
                                <input name="password" id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>



                            <div class="input-field">
                                <button class="waves-effect waves-light btn btn-large">
                                <i class="material-icons left">create</i>Sign up
                            </button>
                            </div>

                        </form>

                    </div>

                    <div class="card-action teal">
                        <a href="/login">Already Registered?</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>